/*Principios de estilos CSS*/

*{
    margin: 0 px;
    padding: 0 px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.footer {
    background-color: whitesmoke;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  
  .info-empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-empresa__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  